body{

  background-color: #f4f4ed;
}
*{
  margin: 0;
  padding: 0;
}

header figure img
{
  width: 250px;
  height: 250px;
  /*border-radius: 100%;*/
  box-shadow: 2px 4px  #1b2845;
}
 .art2 img:hover{
  width: 150%;
}
.art3 img:hover{
  width:60%;
}

header p{
  display: inline-block;
}
h1{
  font-size: 40px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 20%;
  color: #135c81;
  text-shadow: 1px -2px #1b2845;
  text-transform: capitalize;

}
header figure{
  display: inline-block;
  vertical-align: middle;
}
.nav-haut{
  margin-top: 0.5em;
  background-color:#A7BBD5;
  text-align: center;
  padding: 1.5em;
  border-radius: 5px;
  box-shadow: 2px 2px #1b2845;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;

}

.nav-haut li{
  display: inline-block;
  text-align: center;

}
.nav-haut a{
  text-decoration: none;
  color: #fff;
  padding:2em;
}
a:hover{
background-color:#1b2845;
}
.fig1{
  margin-left: 7%;
  margin-top: 0.5em;
}
article p{
  width: 86%;
  margin: auto;
}
article h3{
  margin-left: 7%;
  text-decoration: underline;
  color:#1b2845;
}
article span{
  text-transform: uppercase;
    color:#1b2845;
    text-transform: uppercase;
}

footer{
  background-color:#A7BBD5;
  margin-top:2em;

}
footer img{
  width: 50px;
  height: 50px;
}
footer nav{

  width: 20%;
  margin-left: 7%;
}
footer div{

  width: 50%;
  text-align: center;
  margin: auto;
}
footer figure{

  width: 24%;
  margin: auto;
}
footer nav, footer div, footer aside{
  display: inline-block;
  vertical-align: middle;
}
footer li{
  list-style-type: none;
}
footer a {
  color:#fff;
}
footer h2{
  text-align: center;
  color:#fff;
  /*background-color:#1b2845;*/
  padding: 0.2em;
}

.art2{
  width: 300px;
  height: 400px;
  margin-left: 10%;
  display: inline-block;
  padding: 2em;
}

.art2 img{
  width: 300px;
  height: 300px;

}
.art2 p{
 text-align: justify;
}


.art3{
  width: 60%;
  height: 50%;
  background-color: #00496C;
  margin: auto;

}
.art3 img{
  width: 30%;
  height: 30%;
  margin-left:33%;
  margin-top: 5em;
}
.art3 h2{
  color: #fff;
  text-align: center;
  padding: 0.5em;
  margin: 1em;
}
.art3 p{
  color: #fff;
  text-transform: uppercase;

}
 .fieldset input,textarea{
  display: block;

}
iframe{
  margin-top: 1.5em;
  float: left;
  width: 50%;
}
fieldset{
  padding: 1em;
  background-color: #5472AE;
  margin-top: 1em;
}
fieldset label,th{
  color: #fff;
}
legend{
  text-transform: uppercase;

}
table,th,tr,td
{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2em;
  margin-top: 1rem;
  margin-left: 1em;
  border-color: #5472AE;


}
table{
  box-shadow: 2px 2px #A7BBD5;
}
th{
  background-color: #A7BBD5;
}
h6{
  display: none;
}
